/* 支付结果 */
.tip {
  padding: 0.4em 20px;
}

.tip .tip-icon {
  text-align: center;
  margin: 30px 0;
}

.tip .tip-icon img {
  width: 90px
}

.tip-title {
  font-size: 20px;
  text-align: center;
  font-weight: normal;
}

.tip .tip-btn {
  text-align: center;
  margin: 30px 0;
}

.tip-btn .btn + .btn {
  margin-top: .8em
}

/* 支付方式列表 */
.payment-title {
  text-indent: .5em;
  display: inline-block
}

.payment-checkbox {
  width: 30px
}

.payment-checkbox .checkbox {
  margin: 0;
  height: 16px;
}

.payment-image {
  width: 24px;
}

.list-col + .payment-image {
  padding: 0;
}

/* balance payment */
.nowrap {
  white-space: nowrap;
}

.balance-amount {
  width: 60px;
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
}
